<wm-page data-ng-controller="MainPageController" name="page1">
    <wm-left-panel content="leftnav" name="left_panel1"></wm-left-panel>
    <wm-mobile-navbar name="mobile_navbar1"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-fileupload name="fileupload1" service="FileService" operation="uploadFile"></wm-fileupload>
        </wm-page-content>
    </wm-content>
</wm-page>